@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$green: #285E67;
$grey: #D0D0D0;
$fontSize: 21.33px;
$secondary: #2B2B2B;
$peach: #EBBFAE;
$lightPeach: #FCE2D7;
$lightGray: #F4F4F4;

$ipad: 1024px;
$mobile: 430px;

body{
    background-color: white;
    font-family: "Poppins", sans-serif;
}
span.logoIcon{
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: $grey;
}

nav{
    span.logoText{
       color: $green;
       font-size: 1.5rem;
    }
}

.hero-section{
    .btnJoin{
        background-color: $green;
        padding: 16px;
        width: 251px;
        height: 56px;
        font-size: $fontSize;
    }
    img.imgHero{
        border-radius: 16px;
        width: 626px;
        height: 390px;
    }
}

.section1{
    border-radius: 12px;

    h2{
        color: $secondary;
        font-size: 50px;
    }

    .section1-icon{
        background-color: $green;
        width: 58px;
        height: 57px;
        border-radius: 9px;
        cursor: pointer;
        padding: 14px;

        img{
            width: 26px;
            height: 26px;
        }
    }

    .section1-illustration{
        width: 291px;
        top: 3rem;
    }
    @media screen and (max-width: $ipad){
        .section1-illustration{
            display: none;
        }
        h2{
            text-align: center;
        }
    }

}

.section-organic{
    img:not(.organic-flower){
        border-radius: 12px;
    }
    img.organic-flower{
        width: 52px;
        height: 52px;
    }
    h2#organic-title{
        font-size: 3rem;
        font-weight: 600;
        line-height: 62px;
        color: $secondary;
    }
}

.section-you-are-what-you-eat{
    border-radius: 9px;
    img.cocktail{
        height: 347.5px;
        width: 350px;
    }
    .section{
        max-width: 80%;
        margin: 0 auto;
    }
    img.hoja{
        width: 58px;   
        height: 57px;
    }
}
.section-cta{
    .plant-protective-bg{
        background: url('/img/cta-sectionBg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 667px;
        border-radius: 12px;

        .bg-text{
            max-width: 650px;
            color: $lightGray;
            margin-bottom: 5rem;

            img{
                width: 82px;
            }
            .btnJoin{
                padding: 16px;
                width: 251px;
                height: 56px;
                font-size: $fontSize;
                border-color: $lightGray;
            }
        }
    }
    .plant-protective{
        background-color: $lightPeach;
        max-width: 1165px;
        max-height: 356px;
        bottom: 12rem;
        border-radius: 12px;
        padding: 119px 66px;

        img{
            width: 82px;
        }
    }
}

footer{
    background-color: $green;
    color: $lightGray;
    padding: 78px 139px;
    font-size: 16px;
    
    ul{
        list-style-type: none;
    }
}